@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Outfit:wght@200;400;600&display=swap");

body {
  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

.container {
  max-width: 1290px;
  margin-inline: auto;
}
/* where the body of the webpage begins */
main {
  margin: 50px 120px 50px 120px;
  color: white;
  margin-inline-start: 175px;
}

/* the elements of the webpage  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  line-height: 45px;
}

h1,
h2 {
  font-size: 60px;
  font-weight: 400;
}
h4 {
  font-size: 2.2rem;
  margin-bottom: 5px;
  margin-top: 35px;
}
p {
  font-size: 16px;
}

ul {
  padding-inline: 25px;
  padding-top: 25px;
  line-height: 1.7rem;
}
form {
  margin-top: 100px;
  display: inline-block;
}
.btn-cyan {
  margin-left: 170px;
  width: 200px;
  height: 70px;
  font-size: 20px;
  font-weight: 700;
  background-color: #00ffff;

  border: none;
  box-shadow: 0 0 10px cyan;
}

/* end of elements */

/* other classes and elements of the page  */
.bold {
  font-weight: 700;
}
.first-page-p {
  margin-top: 5px;
}
.logo {
  width: 170px;

  margin: 0;
  margin-top: 45px;
  margin-inline: 175px;
}
.welcome-container {
  text-align: left;
}
.purple-p {
  color: #c2138d;
}

.welcome-container > h1 {
  margin-top: 100px;
}

.checkbox {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

/* / question page  / */

.question {
  margin-block-start: 57px;
  line-height: 75px;
}

.main-question {
  text-align: center;
}

.answers div:first-child {
  margin-top: 110px;
  margin-inline: -14px;
}

.answers div:nth-child(2) {
  margin-top: 27px;
  margin-bottom: 136px;
  margin-inline: -14px;
}
.answers-btn {
  color: white;
  width: 47%;
  border-radius: 40px;
  /* margin-left: 25px; */
  height: 90px;
  background-color: rgb(255 255 255 / 11%);
  color: #fff;
  box-shadow: inset 3px 3px 1px 2px white;
  border-radius: 40px;
  display: inline-block;
  margin: 0;
  margin-block-end: 15px;
}

footer h3 {
  letter-spacing: 3px;
  font-size: 20px;
}
/* feedback page */

.feedback-container h1 {
  font-weight: 700;
}

.feedback-container h6 {
  font-weight: 400;
}

.rating-stars {
  margin-block: 37px;
}

.rating-stars img {
  opacity: 0.2;
  width: 59px;
  margin-inline: 2px;
}

.rating-stars img.selected {
  opacity: 1;
}

.logo-div {
  margin-top: 30px;
}

.feedback-container {
  text-align: center;
  color: white;
  margin: 0 auto;
}

.feedback-container h1 {
  font-size: 4rem;
  margin: 30px;
}
.feedback-container h6 {
  font-size: 1.8rem;
  margin: 0 auto;
}

.feedback-container h6:last-child() {
  padding-top: 30px;
}

form textarea {
  border: 0;
  border-bottom: 3.5px solid purple;
  background-color: transparent;
  width: 831px;
  height: 23px;
  font-family: "inter";
  font-size: 19px;
  overflow: hidden;
  margin-bottom: 55px;
  color: white;
  resize: none;
}

form textarea:focus {
  outline: none;
}

.btn-cyan-feedback-page {
  margin: 0;
}
/* end of Feedback page */

.correct-left,
.wrong-right {
  display: inline-block;
  color: white;
  display: inline-block;
  color: white;
  padding-top: 95px;
  margin-inline: 0px;
  font-weight: 400;
  margin-bottom: 0;
  padding-inline: 44px;
  vertical-align: middle;
}

.correct-left {
  margin-left: 160px;
}

.wrong-right {
  float: right;
  margin-right: 140px;
}

.number-questions {
  font-weight: 200;
  font-size: 20px;
}

/* DOUGHNUT CHART */

.chart-container {
  display: inline-block;

  padding-left: 28px;
}
.donut {
  margin-left: 90px;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  margin: 0;
  background: conic-gradient(#c2128d 0deg 80deg, #00ffff 80deg 190deg);
  text-align: center;
}

.hole {
  width: 280px;
  height: 280px;
  color: white;
  border-radius: 50%;
  background-image: url("./assets (1)/bg.jpg");
  margin: 0;
}

.hole h6 {
  font-size: 18px;
  line-height: 25px;
  font-family: "inter", sans-serif;
}

.hole h6 span {
  color: #00ffff;
}

.hole p {
  font-weight: 200;
}
.donut {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.under-title {
  margin-top: 0;
  font-weight: 400;
  font-size: 26px;
}

.title {
  margin: 0;
}

.percentage {
  margin: 0;
  margin-bottom: 10px;
}

.correct-title {
  margin-bottom: 10px;
}

.number-questions {
  margin-top: 0px;
}

.footer-results {
  text-align: center;
  margin-left: 58px;
}

.feedback-button {
  background-image: url("./assets (1)/bg.jpg");
  background-position: center;
  margin-top: 80px;
  width: 300px;
  height: 90px;
  border: solid 4px white;
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

#demo {
  display: inline-block;
  color: white;
  text-align: right;
  font-size: 55px;
  font-family: "Outfit", sans-serif;
}

.donut-questions {
  width: 181px;
  height: 181px;
  background: conic-gradient(#fdfdfd38 0deg 80deg, #00ffff 80deg 190deg);
}

.hole-questions {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 146px;
  justify-content: center;
  align-items: center;
  background-position: right;
}

.chart-container-questions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.seconds-timer {
  margin-bottom: 0;
}

.remaining-timer {
  margin-top: 0;
}

.next-container {
  text-align: end;
}
